* {
	margin: 0;
	padding: 0;
}

$primary-color: #f9ed69;    // Yellow 
$secondary-color: #f08a5d;  // Orange 
$tertiary-color: #b83b5e;   // Pink   
$dark-text-color: #333;     // Grey
$light-text-color: #eee;    // White Variation

$button-width: 150px;

@mixin clearfix {
  &::after {
    content: '';
    clear: both;
    display: table;
  }
}

@mixin link-text-style($color) {
  text-decoration: none;
  text-transform: uppercase;
  color: $color;
}

nav {
	margin: 30px;
  background-color: $primary-color;
  
  @include clearfix()
}

.navigation {
  list-style: none;
  float: left;

  li {
    display: inline-block;
    margin-left: 30px;

    &:first-child {
      margin: 0;
    }

    a:link {
      @include link-text-style($dark-text-color);
    }
  }
}

.buttons {
  float: right;
}

%btn-placeholder {
  padding: 10px;
  display: inline-block;
  text-align: center;
  border-radius: 100px;
  width: $button-width;
  @include link-text-style($light-text-color);
}

.btn-main {
  &:link {
    @extend %btn-placeholder;
    background-color: $secondary-color;
  }

  &:hover {
    background-color: darken($secondary-color, 15%);
  }
}

.btn-hot {
  &:link {
    @extend %btn-placeholder;
    background-color: $tertiary-color;
  }

  &:hover {
    background-color: lighten($tertiary-color, 10%);
  }
}